<h2>Events</h2>
<a class="button" href="#/events/new">New event</a>

<% var getName = function(user) { return '<a href="#/users/' + user.id + '">' + user.name + "</a>"; } %>
<% console.log("TODO: THIS NEEDS TO BE ESCAPED") %>

<ul>
  <% collection.forEach(function(evt) { %>
    <li data-event-id="<%= evt.id %>">
    <h3><a href="#/events/<%= evt.id %>"><%= evt.escape("title") %></a></h3>
      <ul class="info">
        <% if(evt.get("is_authored")) { %>
          <li>YOU MADE THIS EVENT</li>
          <li><button class="delete-event">Delete this event</button></li>
        <% } %>
        <li>Are you attending? <button class="attendance"><%= evt.get("is_attending") ? "YES" : "NO" %></button></li>
        <li>Happens at this time: <%= evt.get("time") %></li>
        <li>Happens on this day: <%= evt.get("date") %></li>

        <% if(evt.invitation_receivers && evt.invitation_receivers.length > 0) { %>
          <li>You've invited <%= evt.invitation_receivers.map(getName).join(" and ") %>.</li>
        <% } %>

        <% if(evt.get("received_invitation")) { %>
          <li><%= evt.invitation_senders.map(getName).join(" and ") %> invited you to this event.</li>
        <% } %>

        <% if(evt.get("sent_request")) { %>
          <li>You sent invitation requests to <%= evt.request_receivers.map(getName).join(" and ") %>.</li>
        <% } %>

      </ul>
      <a class="invite transient-friend" href="#">Invite people</a>
    </li>
  <% })  %>
</ul>

<a href="#">Edit</a>
