<section class="profile-subheader">
  <h1><%= model.escape("title") %></h1>
  <% if (model.get("author_name") && model.get("location")) { %>
    By <a href="#/users/<%= model.escape('author_id') %>"><%= model.escape("author_name") %></a> in <%= model.escape("location") %></li>
  <% } else if (model.get("author_name")) { %>
    By <a href="#/users/<%= model.escape('author_id') %>"><%= model.escape("author_name") %></a>
  <% } else if (model.get("location")) { %>
    In <%= model.escape("location") %>
  <% } %>
</section>

<ul class="event-info">
  <% if(model.escape("time")) {%>
    Time: <%= model.escape("time") %>
  <% } %>

  <li>Date: <%= model.escape("date") %></li>
  <li>Descrition: <%= model.escape("description") %></li>
  <li>Attendees: <% if(model.attendees) { %>
    <ul class="attendee-images">
    <% model.attendees.forEach(function(user) { %>
      <li><img src="<%= user.photo_url %>">
          <a href="#/users/<%= user.id %>"><%= user.name %></li></a>
    <% }) %>
    </ul>
    <% } else { %>
      None
    <% } %>
  </li>
</ul>
