<section class="typical">
  <form class="event-new">
    <h1>Create an Event</h1>
    <ul>

      <li>
        <h2>Event Name</h2>
        <input type="text" id="evt-title" name="event[title]" value="<%= model.escape("title") %>">
      </li>

      <li>
        <h2>Where</h2>
        <input type="text" id="evt-location" name="event[location]" value="<%= model.escape("location") %>" placeholder="Address, Venue, or City">
      </li>

      <li>
        <h2>When</h2>
        <label><p>Time</p>
          <input type="time" id="evt-time" name="event[time]" value="<%= model.escape("time") %>">
        </label>

        <label><p>Date</p>
          <input type="date" id="evt-date" name="event[date]" value="<%= model.escape("date") %>">
        </label>
      </li>

      <li>
        <h2>Description</h2>
        <textarea id="evt-description" name="event[description]" placeholder="Describe your event."><%= model.escape("description") %></textarea>
      </li>
    </ul>

    <button type="submit">Create Event</button>
  </form>
</section>

<section class="right-side">
  <section class="profile-main">
    <figure class="profile-photo">
      <img src="<%= model.get("photo_url") ? model.get("photo_url") : '/images/big_missing.png' %>" class="profile-photo">
      <h2><button class="show-images">Change image</button></h2>
    </figure>
  </section>

  <section class="invite-menu active lonely">
    <h2>Send invitations</h2>
    <div class="receiver"></div>
  </section>
</section>

<%= JST["users/album-modal"]({collection: photos}) %>
