<h1><%= model.escape("title") %></h1>
<ul class="event-info">
  <li>By <a href="#/users/<%= model.escape('author_id') %>"><%= model.escape("author_name") %></a></li>
  <li>Time: <%= model.escape("time") %></li>
  <li>Date: <%= model.escape("date") %></li>
  <li>Location: <%= model.escape("location") %></li>
  <li>Descrition: <%= model.escape("description") %></li>
</ul>
