<h2><a class="events" href="#/events" alt="Events"></a>Events</h2>
<a class="button" href="#/events/new">New event</a>

<% var getName = function(user) { var badUser = new CrowdSurfing.Models.User(); badUser.set({name: user.name}); return '<a href="#/users/' + user.id + '">' + badUser.escape("name") + "</a>"; } %>

<ul>
  <% collection.forEach(function(evt) { %>
    <li data-event-id="<%= evt.id %>">
      <img src="http://upload.wikimedia.org/wikipedia/commons/b/bf/Clown_chili_peppers.jpg">
      <ul class="info">
        <li><h3><a href="#/events/<%= evt.id %>"><%= evt.escape("title") %></a></h3></li>
        <li class="time">At <%= evt.get("is_authored") ? "<div>" + evt.get("time") + "</div>" : evt.get("time") %>
                         <% if(evt.get("is_authored")) { %>
                           <input class="hidden time" type="text" value="<%= evt.get("time") %>">
                         <% } %>
        </li>
        <li class="date">on <%= evt.get("is_authored") ? "<div>" + evt.get("date") + "</div>" : evt.get("date") %>
                         <% if(evt.get("is_authored")) { %>
                           <input class="hidden date" type="text" value="<%= evt.get("date") %>">
                         <% } %>
        </li>
        <% if(evt.get("location")) { %>
          <li class="location">at <%= evt.escape("location") %></li>
        <% } %>

        <% if(evt.get("is_authored")) { %>
          <li class="created">You created this event; double-click properties to edit.
          <button class="delete-event">Delete this event</button></li>
        <% } else { %>
        <li class="attendance"><%= evt.get("is_attending") ? "Attending" : "Not attending" %> <button class="attendance">Edit</button></li>
        <% } %>

        <% if(evt.invitation_receivers && evt.invitation_receivers.length > 0) { %>
          <li class="invitations">You invited <%= evt.invitation_receivers.map(getName).join(" and ") %>.</li>
        <% } %>

        <% if(evt.get("received_invitation")) { %>
          <li class="invitations"><%= evt.invitation_senders.map(getName).join(" and ") %> invited you to this event.</li>
        <% } %>

        <% if(evt.get("sent_request")) { %>
        <% console.log(evt.request_receivers) %>
          <li class="invitations">You sent invitation requests to <%= evt.request_receivers.map(getName).join(" and ") %>.</li>
        <% } %>
      </ul>
      <% if(evt.get("is_attending")) { %>
        <a class="invite transient-friend request-button" href="#">Invite contacts</a>
      <% } %>
    </li>
  <% })  %>
</ul>
