<form method="POST" action="<%= messages_url %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label for="msg-receiver">To<label>
  <input id="msg-receiver" name="receiver_id" value="<%= h @message.receiver_id %>">
  
  <label for="msg-subject">Subject</label>
  <input id="msg-subject" name="subject" value="<%= h @message.subject %>">
  
  <label for="msg-body">Body</label>
  <textarea id="msg-body" name="body"><%= h @message.body %></textarea>
  
  <button type="submit">Send</button>
</form>