<section class="left-column">
  <h1 class="messages">Messages</h1>
  <h2 id="inbox-header">Inbox</h2>
  <h2 id="sent-header">Sent messages</h2>

  <ul class="messages active" id="inbox">
    <% if(!collection.received_messages || collection.received_messages.length === 0) { %>
      You have no messages in your inbox.
    <% } else { %>
      <% collection.received_messages.forEach(function(model) { %>
          <li>
            <ul class="info">
              <li><img src="<%= model.get("thumb_url") %>"><a href="#/users/<%= model.escape("sender_id")%>"><%= model.escape("sender_name") %></a></li>
              <li><%= model.escape("created_at") %> ago</li>
              <li><a href="#/messages/<%= model.id %>"><%= model.escape("subject") %></a></li>
            </ul>
          </li>
      <% }) %>
    <% } %>
  </ul>

  <ul class="messages" id="sent-messages">
    <% if(!collection.sent_messages || collection.sent_messages.length === 0) { %>
      You have no sent messages.
    <% } else { %>
      <% collection.sent_messages && collection.sent_messages.forEach(function(model) { %>
        <li>
          <ul class="info">
            <li><img src="<%= model.get("thumb_url") %>"><%= model.escape("receiver_name") %></a></li>
            <li><%= model.escape("created_at") %> ago</li>
            <li><a href="#/messages/<%= model.id %>"><%= model.escape("subject") %></a></li>
          </ul>
        </li>
      <% })  %>
    <% } %>
  </ul>

  <div class="new-message-modal"></div>

  <a id="new-msg" href="#/messages/new" class="request-button">New message</a>
</div>
