<form class="edit-profile">
  <label for="user-profile">About</label>
  <textarea name="user[profile][about]"
            id="user-profile"
            class="profile"><%= model.profile().escape("about") %></textarea>

  <label for="user-name">Name</label>
  <input id="user-name" name="user[profile][name]" value="<%= model.profile().escape("name") %>">

  <h2>Gender</h2>
    <input type="radio"
           name="user[profile][gender]"
           value="female"
           id="gender-female"
           <%= model.profile().escape("gender") === "female" ? "checked" : "" %>>
    <label for="gender-female">Female</label>
    <input type="radio"
           name="user[profile][gender]"
           value="male"
           id="gender-male"
          <%= model.profile().escape("gender") === "male" ? "checked" : "" %>>
    <label for="gender-male">Male</label>
    <input type="radio"
           name="user[profile][gender]"
           value="other"
           id="gender-other"
          <%= model.profile().escape("gender") === "other" ? "checked" : "" %>>
    <label for="gender-other">Other</label>

  <h2>Are you new in town?</h2>
    <input type="radio"
           name="user[profile][established]"
           value="false"
           id="established-no"
           <%= model.get("established") ? "" : "checked" %>>
    <label for="established-no">Yes</label>
    <input type="radio"
           name="user[profile][established]"
           value="true"
           id="established-yes"
          <%= model.get("established") ? "checked" : "" %>>
    <label for="gender-male">No</label>

  <label for="user-age">Age</label>
  <input id="user-age" name="user[profile][age]" value="<%= model.profile().escape("age") %>">

  <label for="user-location">Location</label>
  <input id="user-location" name="user[profile][location]" value="<%= model.profile().escape("location") %>">

  <label for="photo">Upload photo</label>
  <input id="photo" type="file" class="my-photo-upload">

  THIS IS WHERE PHOTOS GO
  <% if (model.photos) { %>
    <% model.photos.forEach( function(photo) { %>
      <img class="photo" data-id="<%= photo.id %>" src="<%= photo.src_url %>">
    <% }) %>
  <% } %>

  <input type="hidden" id="profile-photo" name="user[profile][primary_photo_id]" value="<%= model.get("primary_photo_id") %>">

  <button type="submit">Update Profile</button>
</form>
