<div class="I-want-this-centered">
  <section class="left-side">
    <section class="profile-main">

      <div class="profile-subheader">
        <img src="<%= model.get("profile_photo_url") %>" class="profile-photo">
        <h2><%= model.profile().escape("name") %></h2>
        <h3><%= model.profile().escape("location") %></h3>
      </div>

      <div class="profile-body">
        <a href="#/edit">Edit Profile</a>
      </div>

    </section>
  </section>

  <section class="right-side">
    <section class="profile-requests">
      <h2>Sent requests</h2>

      <ul>
      <% if (model.sentRequests) { %>
        <% model.sentRequests.forEach(function(req) { %>
          <li>To <a href="#/users/<%= req.escape("receiver_id") %>">
                 <%= req.escape("receiver") %></a>,
                 status <%= req.escape("status") %>,
                 sent at <%= req.escape("created_at") %></li>
        <% })  %>
      <% } %>
      </ul>

      <a href="#">Edit</a>

    </section>

    <section class="profile-requests">
      <h2>Received requests</h2>

      <ul>
      <% if (model.receivedRequests) { %>
        <% model.receivedRequests.forEach(function(req) { %>
          <li>From user <%= req.escape("sender") %>, status <%= req.escape("status") %></li>
        <% })  %>
      <% } %>
      </ul>

      <a href="#">Edit</a>

    </section>
  </section>
</div>
