<section class="profile-main">
  <h2><%= model.escape("username") %></h2>

  <%= model.profile().escape("location") %>
  <%= model.profile().escape("about") %>

  <a href="#/edit">Edit Profile</a>

</section>

<section class="profile-invitations">
  <h2>Sent requests</h2>

  <ul>
  <% if (model.sentRequests) { %>
    <% model.sentRequests.forEach(function(req) { %>
      <li>To user <%= collection.getOrFetch(req.receiver_id).escape("username") %>, status <%= req.escape("status") %></li>
    <% })  %>
  <% } %>
  </ul>

  <a href="#">Edit</a>

</section>

<section class="profile-requests">
  <h2>Received requests</h2>

  <ul>
  <% if (model.receivedRequests) { %>
    <% model.receivedRequests.forEach(function(req) { %>
      <li>From user <%= collection.getOrFetch(req.sender_id).escape("username") %>, status <%= req.escape("status") %></li>
    <% })  %>
  <% } %>
  </ul>

  <a href="#">Edit</a>

</section>