<h1>Here is that <%= model.escape("username") %>.</h1>

<a href="#/users/<%= model.escape("id") %>/requests/new">Send request</a>
<a href="#/users/<%= model.escape("id") %>/messages/new">Send message</a>

<h2>About</h2>
<%= model.profile().escape("about") %>
<%= model.profile().escape("gender") %>
<%= model.profile().escape("age") %>
