<ul class="selected-users">
  <% if(receiver) { %>
    <li data-user-id="<%= receiverId %>"><a href="javascript:void(0)"><%= receiver %></a></li>
  <% } %>
</ul>
<input id="<%= id %>" value="<%= receiver %>" name="<%= name %>" type="text" placeholder="Username">
<ul class="found-users">
</ul>
